In [37]:
import pandas as pd

In [38]:
data = pd.read_csv(r'C:\Users\Vcx\Desktop\For GitHub\Club Loan Data\loan.csv') # Read the csv file

C:\Users\Vcx\AppData\Local\Temp\ipykernel_7320\1691409756.py:1: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r'C:\Users\Vcx\Desktop\For GitHub\Club Loan Data\loan.csv') # Read the csv file

In [39]:
data.shape # Identify the number of rows and columns in the table

(2260668, 145)

In [40]:
data.head() # Display the first five rows of the table to better understand the content

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 145 entries, id to settlement_term
dtypes: float64(105), int64(4), object(36)
memory usage: 2.4+ GB

In [42]:
data.dtypes

id                       float64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 145, dtype: object

In [43]:
data.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,url,dti,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,0.0,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260664e+06,0.0,2.258957e+06,...,10613.0,10613.000000,10613.0,10613.000000,8426.000000,10613.000000,10613.000000,33056.000000,33056.000000,33056.000000
mean,NaN,NaN,1.504693e+04,1.504166e+04,1.502344e+04,1.309291e+01,4.458076e+02,7.799243e+04,NaN,1.882420e+01,...,3.0,155.006696,3.0,13.686422,454.840802,11628.036442,193.606331,5030.606922,47.775600,13.148596
std,NaN,NaN,9.190245e+03,9.188413e+03,9.192332e+03,4.832114e+00,2.671737e+02,1.126962e+05,NaN,1.418333e+01,...,0.0,129.113137,0.0,9.728138,375.830737,7615.161123,198.694368,3692.027842,7.336379,8.192319
min,NaN,NaN,5.000000e+02,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,0.000000e+00,NaN,-1.000000e+00,...,3.0,0.640000,3.0,0.000000,1.920000,55.730000,0.010000,44.210000,0.200000,0.000000
25%,NaN,NaN,8.000000e+03,8.000000e+03,8.000000e+03,9.490000e+00,2.516500e+02,4.600000e+04,NaN,1.189000e+01,...,3.0,59.370000,3.0,5.000000,174.967500,5628.730000,43.780000,2227.000000,45.000000,6.000000
50%,NaN,NaN,1.290000e+04,1.287500e+04,1.280000e+04,1.262000e+01,3.779900e+02,6.500000e+04,NaN,1.784000e+01,...,3.0,119.040000,3.0,15.000000,352.605000,10044.220000,132.890000,4172.855000,45.000000,14.000000
75%,NaN,NaN,2.000000e+04,2.000000e+04,2.000000e+04,1.599000e+01,5.933200e+02,9.300000e+04,NaN,2.449000e+01,...,3.0,213.260000,3.0,22.000000,622.792500,16114.940000,284.180000,6870.782500,50.000000,18.000000
max,NaN,NaN,4.000000e+04,4.000000e+04,4.000000e+04,3.099000e+01,1.719830e+03,1.100000e+08,NaN,9.990000e+02,...,3.0,943.940000,3.0,37.000000,2680.890000,40306.410000,1407.860000,33601.000000,521.350000,181.000000

# Data cleaning

In [44]:
data = data.drop_duplicates() # Remove duplicate rows from the table

In [45]:
data.isnull().sum().sort_values(ascending=False) # Check for missing values in the table

id                                            2260668
member_id                                     2260668
url                                           2260668
orig_projected_additional_accrued_interest    2252242
hardship_amount                               2250055
                                               ...
total_rec_int                                       0
collection_recovery_fee                             0
hardship_flag                                       0
disbursement_method                                 0
debt_settlement_flag                                0
Length: 145, dtype: int64

In [46]:
missing_percent = data.isnull().mean().sort_values(ascending=False)
missing_percent[missing_percent > 0.5]

id                                            1.000000
member_id                                     1.000000
url                                           1.000000
orig_projected_additional_accrued_interest    0.996273
hardship_amount                               0.995305
hardship_dpd                                  0.995305
hardship_loan_status                          0.995305
deferral_term                                 0.995305
hardship_end_date                             0.995305
hardship_status                               0.995305
hardship_start_date                           0.995305
hardship_reason                               0.995305
hardship_type                                 0.995305
hardship_payoff_balance_amount                0.995305
hardship_last_payment_amount                  0.995305
hardship_length                               0.995305
payment_plan_start_date                       0.995305
debt_settlement_flag_date                     0.985378
settlement_term                               0.985378
settlement_amount                             0.985378
settlement_date                               0.985378
settlement_percentage                         0.985378
settlement_status                             0.985378
sec_app_mths_since_last_major_derog           0.984101
sec_app_revol_util                            0.953030
revol_bal_joint                               0.952218
sec_app_earliest_cr_line                      0.952217
sec_app_mort_acc                              0.952217
sec_app_open_act_il                           0.952217
sec_app_num_rev_accts                         0.952217
sec_app_inq_last_6mths                        0.952217
sec_app_chargeoff_within_12_mths              0.952217
sec_app_open_acc                              0.952217
sec_app_collections_12_mths_ex_med            0.952217
verification_status_joint                     0.948807
dti_joint                                     0.946606
annual_inc_joint                              0.946604
desc                                          0.944236
mths_since_last_record                        0.841128
mths_since_recent_bc_dlq                      0.770112
mths_since_last_major_derog                   0.743096
mths_since_recent_revol_delinq                0.672504
next_pymnt_d                                  0.576647
mths_since_last_delinq                        0.512460
dtype: float64

In [47]:
drop_cols = ['id', 'member_id', 'url', 'desc', 'hardship_amount', 'hardship_dpd', 'hardship_loan_status', 'hardship_end_date', 'hardship_status', 'hardship_start_date', 'hardship_reason', 'hardship_type', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'hardship_length', 'payment_plan_start_date', 'debt_settlement_flag_date', 'settlement_term', 'settlement_amount', 'settlement_date', 'settlement_percentage', 'settlement_status']
data = data.drop(columns=drop_cols) # Drop columns with more than 50% missing values

In [48]:
fill_minus1_cols = [
    'mths_since_last_record', 'mths_since_recent_bc_dlq', 'mths_since_last_major_derog',
    'mths_since_recent_revol_delinq', 'next_pymnt_d', 'mths_since_last_delinq'
]
data[fill_minus1_cols] = data[fill_minus1_cols].fillna(-1)

In [49]:
# Преобразуем процентную ставку: убираем %, преобразуем в float
data['int_rate'] = data['int_rate'].astype(str).str.replace('%', '').astype(float)

# Преобразуем срок займа из строки в число месяцев
data['term'] = data['term'].astype(str).str.extract('(\d+)').astype(float)

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Vcx\AppData\Local\Temp\ipykernel_7320\2237842987.py:5: SyntaxWarning: invalid escape sequence '\d'
  data['term'] = data['term'].astype(str).str.extract('(\d+)').astype(float)

In [50]:
data['is_default'] = data['loan_status'].apply(lambda x: 1 if x in ['Charged Off', 'Default', 'Late (31-120 days)'] else 0)

In [51]:
data['income_to_loan_ratio'] = data['annual_inc'] / data['loan_amnt']

# Employment length в число
data['emp_length'] = data['emp_length'].replace({
    '10+ years': 10, '< 1 year': 0, 'n/a': None
}).str.extract('(\d+)').astype(float)

<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Vcx\AppData\Local\Temp\ipykernel_7320\2943981073.py:6: SyntaxWarning: invalid escape sequence '\d'
  }).str.extract('(\d+)').astype(float)

In [52]:
data.groupby('purpose')['is_default'].mean().sort_values(ascending=False)

purpose
small_business        0.195229
renewable_energy      0.159862
moving                0.151789
debt_consolidation    0.135923
educational           0.132075
medical               0.131330
other                 0.125796
house                 0.121958
vacation              0.119485
wedding               0.118471
major_purchase        0.116662
home_improvement      0.109905
credit_card           0.102013
car                   0.094824
Name: is_default, dtype: float64

In [53]:
columns_for_tableau = [
    'loan_amnt', 'term', 'int_rate', 'grade', 'sub_grade',
    'emp_length', 'home_ownership', 'annual_inc', 'purpose',
    'issue_d', 'loan_status', 'is_default', 'income_to_loan_ratio'
]

data_tableau = data[columns_for_tableau].copy()

In [54]:
data_tableau.info()
data_tableau.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   loan_amnt             int64
 1   term                  float64
 2   int_rate              float64
 3   grade                 object
 4   sub_grade             object
 5   emp_length            float64
 6   home_ownership        object
 7   annual_inc            float64
 8   purpose               object
 9   issue_d               object
 10  loan_status           object
 11  is_default            int64
 12  income_to_loan_ratio  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 224.2+ MB

loan_amnt                     0
term                          0
int_rate                      0
grade                         0
sub_grade                     0
emp_length              1084900
home_ownership                0
annual_inc                    4
purpose                       0
issue_d                       0
loan_status                   0
is_default                    0
income_to_loan_ratio          4
dtype: int64

In [55]:
data_tableau['emp_length'] = data_tableau['emp_length'].fillna(-1)

In [56]:
median_income = data_tableau['annual_inc'].median()
data_tableau['annual_inc'] = data_tableau['annual_inc'].fillna(median_income)

In [57]:
data_tableau['income_to_loan_ratio'] = data_tableau['annual_inc'] / data_tableau['loan_amnt']

In [58]:
data_tableau.to_csv("LoanData_Cleaned.csv", index=False)